 
int main()
 
{
    c>>n;
    
    cout>>"enter your first number.";
    c>>m
    min= m;
    max= m;
    
    for (1=0; i<n-1: i +1)

        {
 
        cout << "Enter the number: ";
        cin >> n;
 
        total = total + n;
 
        if (n < min)
        {
            min = n;
        }
 
        if (n > max)
        {
            max = n;
        }
 
        }
 
    cout << "Total is: " << total << endl;
    cout << "Minimum is: " << min << endl;
    cout << "Maximum is: " << max << endl;
    cout << "Average is: " << total/n << endl;
 
    system("pause");
 
}
